
<div class="container mt-5" style="padding:10px">
    <h1>Q/A</h1>
        <form action="/write" method ="post">
              학번:<br>
             <input type="number" class="form-control" name="number" >
                  <br>
                  제목:<br>
                  <input type="text" class ="form-control" name="title" >
                  <br>내용:<br>
                  <textarea name="content" class="form-control" rows="4" cols="50">
                      
                  </textarea>
                  <br>
              <input type="submit" value="제출">
        </form> 
    <a href="/list"><h3>게시판 보러가기</h3></a>
    </div>
</div>